:root {
  --black: #150605;
  --red: #EA453C;
  --accent: #1e2f33;
  --wheat: rgb(255, 245, 227);
  --light-red: #f49e9a;
  --blue: #87cfff;
}

html, body {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
  color: var(--accent);
  background-color: var(--wheat);

}

/* --- HEADER --- */
header {
  background-color: var(--accent);
  color: wheat;
  padding: 25px 0px;
  border: 10px solid var(--accent);
  border-radius: 0 0px 5px 5px ;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  max-width: 1000px;
  width: 80%;
  margin: auto;
}
.title {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: var(--wheat);
  text-shadow: 1px 1px  var(--light-red);
}

a:visited { color: var(--wheat); }

a:hover,
a:active { 
  transform: translate(0.5px, 0.5px);
  text-shadow: 0.5px 0.5px  var(--light-red);
}

/* --- PHOTOS HOME PAGE --- */
main{
  width: 80%;
  max-width: 1000px;
  margin: auto;
}

main.photos {
  padding: 30px;
  display: grid;
  grid-gap: 10px;
  grid-auto-rows: 120px;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-auto-flow: dense;
}

img.image-grid {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
  border: 1px solid var(--accent);
  box-shadow: 4px 4px var(--accent);
}

img.image-grid:hover,
img.image-grid:active {
  transform: translate(0.5px, 0.5px);
  box-shadow: 3.5px 3.5px var(--accent);
}


.image-container {
  position: relative;
}

.favorite {
  color: var(--red);
  font-size: 1.75rem;
  position: absolute;
  bottom: 10px;
  left: 10px;
  cursor: pointer;
  text-shadow: 1px 1px 1px var(--blue);
}

.ri-heart-fill {
  opacity: .8;
}

.ri-delete-bin-line, .ri-delete-bin-fill {
  font-size: 1.3em;
  cursor: pointer;
}

.cart {
  color: var(--blue);
  font-size: 1.75rem;
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  text-shadow: 1px 1px 1px var(--red);
}

.wide {
  grid-column: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}

/* --- CART PAGE --- */

main.cart-page {
  padding: 30px 60px ;
}

.cart-page > h1 {
  text-align: center;
}

.cart-page .total-cost {
  text-align: right;
  font-size: 1.3em;
}

.cart-page div.order-button {
  display: flex;
  justify-content: center;
}

div.order-button > button {
  border-color: var(--black);
  cursor: pointer;
  padding: 15px;
  transition: all .2s ease-in-out;
}

div.order-button > button:focus {
  outline: none;
}

div.order-button > button:disabled {
  border-color: lightgray;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 00px;
}

.cart-item-img {
  margin-right: auto;
  margin-left: 15px;  
  width: 150px;
  object-fit: cover;
  border-radius: 7px;
  border: 1px solid var(--accent);
  box-shadow: 4px 4px var(--accent);
}
